* {
  margin: -2px;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body-home {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  position: sticky;
  background-image: url(../assets/kuliner.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.body-menu {
  font-family: 'poppins';
  background-color: #dbdcdc;
  position: sticky;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


header h1 {
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 2px cyan;
  font-family: tahoma;
}

nav {
  background-color: #bb7c46;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  max-width: 1150px;
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  font-size: min(max(12px, 2vw), 16px);
  font-family: helvetica;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color ease 0.3s;
}

.menu li a:hover {
  color: #ffbc3b;
}

.logo {
  color: black;
  cursor: pointer;
}

.logo a img {
  max-width: 80%;
  max-height: 80%;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  padding-bottom: 0.2rem;
  border-radius: 5px;
}

.food {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.food h2 {
  margin-bottom: 0.5rem;
  width: 100%;
}

.food-item {
  /* background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
  margin: 0.5rem;
  max-width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 1rem;
  border-radius: 5px;
  flex: 1;
  transition: transform 0.2s ease;
}

.food-item:hover {
  transform: scale(1.1);
}

.food-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  min-width: 200px;
  min-height: 150px;
}

.text-home {
  color: white;
  text-align: center;
  margin: 250px;
  font-size: 60px;
  text-shadow: 0px 1px 1px white;
  opacity: 0;
  transition: all 1s ease-in-out;
  animation: slideIn 1s forwards;
}

.text-home p:nth-child(2) {
  font-size: 20px;
  color: white;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.maps {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  gap: 2rem;
}

.text-kontak {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 25px;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #5a5a5a;
  gap: 20px;
}

footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

footer p:nth-child(2) {
  font-size: 16px;
  color: #ffffff;
  width: 600px;
  text-align: center;
}

.sosmed a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.sosmed {
    display: flex;

}

.sosmed i {
    color: #000000;
}

.sosmed a:hover {
    background-color: #818181;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.sosmed a:hover i,
.social a:hover i {
    color: #ffd900;
    transition: all ease 0.5s;
}

.footed {
    color: rgb(214, 213, 213);
    font-size: 15px;
    display: flex;
    justify-content: center;
}

/* style pesan.html */

.tambah {
  padding: 0.1rem 0.075rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: #161616;
  color: #efefef;
  background-color: #161616;
  color: #efefef;
  border-style: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}